@import "../../styles/variables";
@import "../../styles/mixins";

.loader {
  @include flex-center;
  padding: $spacing-lg;
  color: $text-color;

  &__spinner {
    border: 4px solid $light-gray;
    border-top: 4px solid $primary-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  &__text {
    margin-left: $spacing-md;
    font-size: $font-size-lg;
    color: $text-color;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
