@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modal-overlay {
  @include modal-overlay;
}

.bulk-action-modal {
  @include modal-content;

  &__title {
    margin-top: 0;
    margin-bottom: $spacing-md;
    color: $dark-bg;
    font-size: $font-size-xl;
  }

  &__description {
    margin-bottom: $spacing-md;
    color: $text-color;
  }

  &__preview {
    margin-bottom: $spacing-lg;

    h3 {
      margin-top: 0;
      margin-bottom: $spacing-sm;
      color: $text-color;
      font-size: $font-size-lg;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #f9f9f9;
      border-radius: $border-radius-sm;
      padding: $spacing-md;
      max-height: 200px;
      overflow-y: auto;

      li {
        padding: $spacing-xs 0;
        border-bottom: 1px solid $border-color;

        &:last-child {
          border-bottom: none;
        }
        &.bulk-action-modal__more-link {
          cursor: pointer;
          color: $warning-color;
          font-weight: 600;
          padding-top: $spacing-sm;
        }
      }
    }

    .bulk-action-modal__more-textbox {
      position: relative;
      background-color: #fff;
      border: 1px solid $border-color;
      border-radius: $border-radius-sm;
      padding: $spacing-sm;
      max-height: 200px;
      overflow: hidden;

      .bulk-action-modal__more-close {
        position: absolute;
        right: 6px;
        top: 6px;
        background: transparent;
        border: none;
        font-size: 18px;
        line-height: 1;
        cursor: pointer;
      }

      .bulk-action-modal__more-content {
        max-height: 168px;
        overflow-y: auto;
        white-space: pre-wrap;
        padding-right: $spacing-sm;
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;

    @include responsive(mobile) {
      flex-direction: column;
    }

    button {
      flex: 1;
      min-width: 120px;

      @include responsive(mobile) {
        width: 100%;
      }

      &:nth-child(1) {
        @include button-success;
      }

      &:nth-child(2) {
        @include button-warning;
      }

      &:nth-child(3) {
        @include button-danger;
      }

      &:nth-child(4) {
        @include button-secondary;
      }
    }
  }
}
